<div class="akso-bridge-login-bar {{ akso_auth ? 'is-logged-in' : 'is-logged-out' }}">
    {% if akso_auth %}
        <div class="akso-user">
            {{ akso_user_fmt_name|e }}
        </div>
        <div class="akso-user-options">
            <input class="user-options-switch" type="checkbox" id="akso-bridge-login-options" />
            <label
                tabindex="0"
                aria-hidden="true"
                role="presentation"
                aria-label="{{ akso_locale.login.settings }}"
                class="link-button user-options-button"
                for="akso-bridge-login-options">
                <img role="presentation" aria-hidden="true" src="/user/plugins/akso-bridge/assets/settings.svg" draggable="false" />
            </label>
            <label class="bridge-options-backdrop" for="akso-bridge-login-options"></label>
            <ul class="bridge-options-popup">
                {% if akso_full_auth %}
                <li>
                    <a href="{{ config.plugins['akso-bridge'].account_path|e('html_attr') }}">
                        {{ akso_locale.login.account_options|e }}
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ config.plugins['akso-bridge'].logout_path|e('html_attr') }}">
                        {{ akso_locale.login.logout_label|e }}
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <a class="link-button" href="{{ config.plugins['akso-bridge'].login_path|e('html_attr') }}">
            {{ akso_locale.login.login_label|e }}
        </a>
    {% endif %}
</div>
