    <input
        type="checkbox"
        id="codeholder-split-name"
        {% if (akso_registration.state.codeholder.firstName and akso_registration.state.codeholder.firstName != akso_registration.state.codeholder.firstNameLegal)
            or (akso_registration.state.codeholder.lastName and akso_registration.state.codeholder.lastName != akso_registration.state.codeholder.lastNameLegal) %}
        checked
        {% endif %}
        aria-label="{{akso_locale.registration.codeholder_name_split}}"
        name="codeholder[splitName]"
        class="invisible-input" />
    <div class="settings-field" data-el="input" data-type="text">
        <div class="inner-field">
            <label for="codeholder-first-name">
                {{akso_locale.registration.codeholder_first_name}}
                <span
                    class="required-star"
                    id="codeholder-first-name-required"
                    title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
            </label>
            {% set chFirstName = akso_registration.state.codeholder.firstName %}
            {% if chFirstName is empty %}
                {% set chFirstName = akso_registration.state.codeholder.firstNameLegal %}
            {% endif %}
            <input
                id="codeholder-first-name"
                name="codeholder[firstName]"
                type="text"
                required
                value="{{chFirstName|e('html_attr')}}" />
        </div>
    </div>
    <div class="settings-field" data-el="input" data-type="text">
        <div class="inner-field">
            <label for="codeholder-last-name">{{akso_locale.registration.codeholder_last_name}}</label>
            {% set chLastName = akso_registration.state.codeholder.lastName %}
            {% if chLastName is empty %}
                {% set chLastName = akso_registration.state.codeholder.lastNameLegal %}
            {% endif %}
            <input
                id="codeholder-last-name"
                name="codeholder[lastName]"
                type="text"
                value="{{chLastName|e('html_attr')}}" />
        </div>
        <div class="field-description">
            <label for="codeholder-split-name" aria-hidden="true" tabindex="0" id="split-name-checkbox"></label>
            <label for="codeholder-split-name" aria-hidden="true">
                {{akso_locale.registration.codeholder_name_split}}
            </label>
        </div>
    </div>
    <div id="codeholder-split-name-contents">
        <div class="settings-field" data-el="input" data-type="text">
            <div class="inner-field">
                <label for="codeholder-first-name-legal">
                    {{akso_locale.registration.codeholder_first_name_legal}}
                    <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
                </label>
                <input
                    id="codeholder-first-name-legal"
                    name="codeholder[firstNameLegal]"
                    type="text"
                    value="{{akso_registration.state.codeholder.firstNameLegal|e('html_attr')}}" />
            </div>
        </div>
        <div class="settings-field" data-el="input" data-type="text">
            <div class="inner-field">
                <label for="codeholder-last-name-legal">{{akso_locale.registration.codeholder_last_name_legal}}</label>
                <input
                    id="codeholder-last-name-legal"
                    name="codeholder[lastNameLegal]"
                    type="text"
                    value="{{akso_registration.state.codeholder.lastNameLegal|e('html_attr')}}" />
            </div>
        </div>
    </div>
    <div class="settings-field" data-el="input" data-type="text">
        <div class="inner-field">
            <label for="codeholder-honorific">{{akso_locale.registration.codeholder_honorific}}</label>
            <input
                id="codeholder-honorific"
                name="codeholder[honorific]"
                type="text"
                value="{{akso_registration.state.codeholder.honorific|e('html_attr')}}" />
        </div>
    </div>
    <hr />
    <div class="settings-field form-item" data-el="input" data-type="date">
        <div class="inner-field">
            <label for="codeholder-birthdate">
                {{akso_locale.registration.codeholder_birthdate}}
                <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
            </label>
            <input
                id="codeholder-birthdate"
                name="codeholder[birthdate]"
                type="date"
                required
                value="{{akso_registration.state.codeholder.birthdate|e('html_attr')}}" />
        </div>
    </div>
    <div class="settings-field" data-el="input" data-type="email">
        <div class="inner-field">
            <label for="codeholder-email">
                {{akso_locale.registration.codeholder_email}}
                <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
            </label>
            <input
                id="codeholder-email"
                name="codeholder[email]"
                type="email"
                required
                value="{{akso_registration.state.codeholder.email|e('html_attr')}}" />
        </div>
    </div>
    <div class="settings-field" data-el="input" data-type="phone">
        <div class="inner-field">
            <label for="codeholder-cellphone">{{akso_locale.registration.codeholder_cellphone}}</label>
            <input
                id="codeholder-cellphone"
                name="codeholder[cellphone]"
                type="text"
                inputmode="numeric"
                pattern="[+]?[a-z0-9\s]{1,49}"
                title="{{akso_locale.registration.codeholder_cellphone_pattern_desc}}"
                value="{{akso_registration.state.codeholder.cellphone|e('html_attr')}}" />
        </div>
        <div class="field-description">
            {{akso_locale.registration.codeholder_cellphone_desc}}
        </div>
    </div>
    <hr />
    <input
        type="checkbox"
        name="codeholder[splitCountry]"
        {% if akso_registration.state.codeholder.feeCountry != akso_registration.state.codeholder.address.country %}
        checked
        {% endif %}
        aria-label="{{akso_locale.registration.settings_fee_country_split}}"
        id="registration-split-country"
        class="invisible-input" />
    <div class="settings-field">
        <div class="inner-field">
            <label for="registration-field-fee-country">
                {{akso_locale.registration.settings_fee_country}}
                <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
            </label>
            <select
                id="registration-field-fee-country"
                name="codeholder[feeCountry]">
                <option value="">—</option>
                {% for country in akso_registration.countries %}
                    <option
                        value="{{ country.code|e('html_attr') }}"
                        {% if akso_registration.state.codeholder.feeCountry == country.code %}
                        selected
                        {% endif %}
                        >{{country.name_eo|e}}</option>
                {% endfor %}
                <!-- todo: fancy JS selection with search -->
                <!-- todo: default to IP country -->
            </select>
        </div>
        {% if not akso_auth %}
        <div class="field-description">
            <label for="registration-split-country" aria-hidden="true" tabindex="0" id="split-country-checkbox"></label>
            <label for="registration-split-country" aria-hidden="true">
                {{akso_locale.registration.settings_fee_country_split}}
            </label>
        </div>
        {% endif %}
    </div>
    <div class="settings-section">
        {{akso_locale.registration.codeholder_address}}
        <span
            class="required-star"
            title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
    </div>
    <div class="settings-field" id="registration-address-country">
        <div class="inner-field">
            <label for="codeholder-address-country">
                {{akso_locale.registration.codeholder_country}}
            </label>
            <select id="codeholder-address-country" name="codeholder[address][country]">
                <option value="">—</option>
                {% for country in akso_registration.countries %}
                    <option
                        value="{{ country.code|e('html_attr') }}"
                        {% if akso_registration.state.codeholder.address.country == country.code %}
                        selected
                        {% endif %}
                        >{{country.name_eo|e}}</option>
                {% endfor %}
                <!-- todo: fancy JS selection with search -->
                <!-- todo: default to IP country -->
            </select>
        </div>
    </div>
    <div class="settings-field is-address-field" data-address-field="countryArea">
        <div class="inner-field">
            <label for="codeholder-address-countryarea">{{akso_locale.registration.codeholder_country_area}}</label>
            <input
                id="codeholder-address-countryarea"
                name="codeholder[address][countryArea]"
                value="{{akso_registration.state.codeholder.address.countryArea|e('html_attr')}}"
                type="text" />
        </div>
    </div>
    <div class="settings-field is-address-field" data-address-field="city">
        <div class="inner-field">
            <label for="codeholder-address-city">{{akso_locale.registration.codeholder_city}}</label>
            <input
                id="codeholder-address-city"
                name="codeholder[address][city]"
                value="{{akso_registration.state.codeholder.address.city|e('html_attr')}}"
                type="text" />
        </div>
    </div>
    <div class="settings-field is-address-field" data-address-field="cityArea">
        <div class="inner-field">
            <label for="codeholder-address-cityarea">{{akso_locale.registration.codeholder_city_area}}</label>
            <input
                id="codeholder-address-cityarea"
                name="codeholder[address][cityArea]"
                value="{{akso_registration.state.codeholder.address.cityArea|e('html_attr')}}"
                type="text" />
        </div>
    </div>
    <div class="settings-field is-address-field" data-address-field="postalCode">
        <div class="inner-field">
            <label for="codeholder-address-postalcode">{{akso_locale.registration.codeholder_postal_code}}</label>
            <input
                id="codeholder-address-postalcode"
                name="codeholder[address][postalCode]"
                value="{{akso_registration.state.codeholder.address.postalCode|e('html_attr')}}"
                type="text" />
        </div>
    </div>
    <div class="settings-field is-address-field" data-address-field="streetAddress">
        <div class="inner-field">
            <label for="codeholder-address-streetaddress">{{akso_locale.registration.codeholder_street_address}}</label>
            <input
                id="codeholder-address-streetaddress"
                name="codeholder[address][streetAddress]"
                value="{{akso_registration.state.codeholder.address.streetAddress|e('html_attr')}}"
                type="text" />
        </div>
    </div>
    <div class="settings-field is-address-field" data-address-field="sortingCode">
        <div class="inner-field">
            <label for="codeholder-address-sortingcode">{{akso_locale.registration.codeholder_sorting_code}}</label>
            <input
                id="codeholder-address-sortingcode"
                name="codeholder[address][sortingCode]"
                value="{{akso_registration.state.codeholder.address.sortingCode|e('html_attr')}}"
                type="text" />
        </div>
    </div>
