{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if akso_registration.state.step >= 3 %}
    <div class="akso-registration-page">
    {% else %}
    <form class="akso-registration-page akso-form" method="POST">
    {% endif %}
        <h1>{{akso_locale.registration.title}}</h1>
        {% if akso_registration.state.form_error %}
            <div class="error-banner">
                {{akso_registration.state.form_error}}
            </div>
        {% endif %}
        {% if akso_registration.state.payment_success %}
            <div class="message-banner">
                {{akso_locale.registration.payment_success_return_msg}}
            </div>
        {% endif %}
        <input
            class="hidden-input"
            type="text"
            name="state_serialized"
            value="{{ akso_registration.state.serialized|e('html_attr') }}" />
        {% if akso_registration.state.registered or akso_registration.state.step > 0 or akso_auth %}
        {% if akso_registration.state.step == 1 %}
        <button class="form-back-button" type="submit" formaction="{{akso_registration.targets.codeholder|e('html_attr')}}">
            <span class="back-icon"></span>
            {{akso_locale.registration.btn_back}}
        </button>
        {% elseif akso_registration.state.step == 2 %}
        <button class="form-back-button" type="submit" formaction="{{akso_registration.targets.offers|e('html_attr')}}">
            <span class="back-icon"></span>
            {{akso_locale.registration.btn_back}}
        </button>
        {% endif %}
        <div class="form-summary">
            <div class="codeholder-summary">
                <div class="summary-codeholder-type">
                    {% if akso_registration.state.needs_login %}
                    {{akso_locale.registration.codeholder_login_to_view}}
                    {% elseif akso_auth %}
                    {{akso_locale.registration.codeholder_is_registered}}
                    {% else %}
                    {{akso_locale.registration.codeholder_is_new}}
                    {% endif %}
                </div>
                {% if not akso_registration.state.needs_login %}
                <div class="summary-name">
                    {{akso_registration.state.codeholder.honorific|e}}
                    {{akso_registration.state.codeholder.firstNameLegal|e}}
                    {{akso_registration.state.codeholder.lastNameLegal|e}}
                </div>
                <div class="summary-birthdate">
                    {{akso_locale.registration.codeholder_birthdate}}:
                    {{akso_registration.state.codeholder_derived.birthdate|e}}
                </div>
                <div class="summary-contact">
                    {{akso_registration.state.codeholder.email|e}}
                    {{akso_registration.state.codeholder.cellphone|e}}
                </div>
                <div class="summary-address">
                    {{akso_registration.state.codeholder_derived.address|e}}
                </div>
                {% endif %}
            </div>
            {% if akso_registration.state.registered %}
            <div class="offers-summary">
                {% for year, yearItems in akso_registration.state.offers %}
                <div class="offer-year">
                    {% set offerYear = akso_registration.offers_indexed[year] %}
                    <div class="year-label">{{year|e}}</div>
                    {% for offer in yearItems %}
                    <div class="offer-item">
                        {% if offer.type == 'membership' %}
                        <div class="item-name">
                            <span class="item-abbrev">{{akso_registration.categories[offer.id].nameAbbrev|e}}</span>
                            {{akso_registration.categories[offer.id].name|e}}
                        </div>
                        <div class="item-price">
                            {{offer.amount_rendered|e}}
                        </div>
                        {% elseif offer.type == 'addon' %}
                        <div class="item-name">
                            {{akso_registration.addons[offerYear.paymentOrgId][offer.id].name|e}}
                        </div>
                        <div class="item-price">
                            {{offer.amount_rendered|e}}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="price-sum">
                    <span class="sum-label">{{akso_locale.registration.offers_sum}}</span>
                    <span class="sum-value">{{akso_registration.state.offers_sum_rendered|e}}</span>
                </div>
            </div>
            {% elseif akso_registration.state.step > 1 %}
            <div class="offers-summary">
                {% for year, yearItems in akso_registration.state.offers %}
                    <div class="offer-year">
                        {% set offerYear = akso_registration.offers_indexed[year] %}
                        <div class="year-label">{{offerYear.year|e}}</div>
                        {% for offerKey, offer in yearItems %}
                        {% set offerKeyParts = offerKey|split('-') %}
                        {% set groupIndex = offerKeyParts[0] %}
                        {% set offerIndex = offerKeyParts[1] %}
                        <div class="offer-item">
                            {% if offer.type == 'membership' %}
                            <div class="item-name">
                                <span class="item-abbrev">{{akso_registration.categories[offer.id].nameAbbrev|e}}</span>
                                {{akso_registration.categories[offer.id].name|e}}
                            </div>
                            <div class="item-price">
                                {{akso_registration.offers_indexed[offerYear.year].offers[groupIndex].offers[offerIndex].price.amount|e}}
                            </div>
                            {% elseif offer.type == 'addon' %}
                            <div class="item-name">
                                {{akso_registration.addons[offerYear.paymentOrgId][offer.id].name|e}}
                            </div>
                            <div class="item-price">
                                {{offer.amount_rendered|e}}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="price-sum">
                    <span class="sum-label">{{akso_locale.registration.offers_sum}}</span>
                    <span class="sum-value">{{akso_registration.state.offers_sum_rendered}}</span>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% if akso_registration.state.step == 0 %}
            {% if not akso_auth %}
            <div class="logged-out-notice">
                <div class="notice-contents">{{akso_locale.registration.codeholder_logged_out_note}}</div>
                <div class="notice-buttons">
                    <a class="link-button is-primary" href="{{akso_login_path}}">
                        {{akso_locale.login.login_label}}
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="registration-settings">
                {% if not akso_auth %}
                <div class="settings-section">
                    {{akso_locale.registration.codeholder_name}}
                </div>
                <div class="settings-field" data-el="input" data-type="text">
                    <div class="inner-field">
                        <label>
                            {{akso_locale.registration.codeholder_first_name_legal}}
                            <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
                        </label>
                        <input
                            name="codeholder[firstNameLegal]"
                            type="text"
                            required
                            value="{{akso_registration.state.codeholder.firstNameLegal|e('html_attr')}}" />
                    </div>
                </div>
                <div class="settings-field" data-el="input" data-type="text">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_last_name_legal}}</label>
                        <input
                            name="codeholder[lastNameLegal]"
                            type="text"
                            value="{{akso_registration.state.codeholder.lastNameLegal|e('html_attr')}}" />
                    </div>
                </div>
                <div class="settings-field" data-el="input" data-type="text">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_honorific}}</label>
                        <input
                            name="codeholder[honorific]"
                            type="text"
                            value="{{akso_registration.state.codeholder.honorific|e('html_attr')}}" />
                    </div>
                </div>
                <hr />
                <div class="settings-field form-item" data-el="input" data-type="date">
                    <div class="inner-field">
                        <label>
                            {{akso_locale.registration.codeholder_birthdate}}
                            <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
                        </label>
                        <input
                            name="codeholder[birthdate]"
                            type="date"
                            required
                            value="{{akso_registration.state.codeholder.birthdate|e('html_attr')}}" />
                    </div>
                </div>
                <div class="settings-field" data-el="input" data-type="email">
                    <div class="inner-field">
                        <label>
                            {{akso_locale.registration.codeholder_email}}
                            <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
                        </label>
                        <input
                            name="codeholder[email]"
                            type="email"
                            required
                            value="{{akso_registration.state.codeholder.email|e('html_attr')}}" />
                    </div>
                </div>
                <div class="settings-field" data-el="input" data-type="phone">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_cellphone}}</label>
                        <input
                            name="codeholder[cellphone]"
                            type="text"
                            inputmode="numeric"
                            value="{{akso_registration.state.codeholder.cellphone|e('html_attr')}}" />
                    </div>
                </div>
                <hr />
                <input
                    type="checkbox"
                    name="codeholder[splitCountry]"
                    {% if akso_registration.state.codeholder.feeCountry != akso_registration.state.codeholder.address.country %}
                    checked
                    {% endif %}
                    id="registration-split-country" />
                {% endif %}
                <div class="settings-field">
                    <div class="inner-field">
                        <label for="registration-field-fee-country">
                            {{akso_locale.registration.settings_fee_country}}
                            <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
                        </label>
                        <select
                            id="registration-field-fee-country"
                            name="codeholder[feeCountry]">
                            <option value="">—</option>
                            {% for country in akso_registration.countries %}
                                <option
                                    value="{{ country.code|e('html_attr') }}"
                                    {% if akso_registration.state.codeholder.feeCountry == country.code %}
                                    selected
                                    {% endif %}
                                    >{{country.name_eo|e}}</option>
                            {% endfor %}
                            <!-- todo: fancy JS selection with search -->
                            <!-- todo: default to IP country -->
                        </select>
                    </div>
                    {% if not akso_auth %}
                    <div class="field-description">
                        <label for="registration-split-country" aria-role="checkbox" tabindex="0" id="split-country-checkbox"></label>
                        <label for="registration-split-country">
                            {{akso_locale.registration.settings_fee_country_split}}
                        </label>
                    </div>
                    {% endif %}
                </div>
                {% if not akso_auth %}
                <div class="settings-section">
                    {{akso_locale.registration.codeholder_address}}
                </div>
                <div class="settings-field" id="registration-address-country">
                    <div class="inner-field">
                        <label>
                            {{akso_locale.registration.codeholder_country}}
                            <span class="required-star" title="{{akso_locale.registration.required_field|e('html_attr')}}"> *</span>
                        </label>
                        <select name="codeholder[address][country]">
                            <option value="">—</option>
                            {% for country in akso_registration.countries %}
                                <option
                                    value="{{ country.code|e('html_attr') }}"
                                    {% if akso_registration.state.codeholder.address.country == country.code %}
                                    selected
                                    {% endif %}
                                    >{{country.name_eo|e}}</option>
                            {% endfor %}
                            <!-- todo: fancy JS selection with search -->
                            <!-- todo: default to IP country -->
                        </select>
                    </div>
                </div>
                <div class="settings-field">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_country_area}}</label>
                        <input
                            name="codeholder[address][countryArea]"
                            value="{{akso_registration.state.codeholder.address.countryArea|e('html_attr')}}"
                            type="text" />
                    </div>
                </div>
                <div class="settings-field">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_city}}</label>
                        <input
                            name="codeholder[address][city]"
                            value="{{akso_registration.state.codeholder.address.city|e('html_attr')}}"
                            type="text" />
                    </div>
                </div>
                <div class="settings-field">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_city_area}}</label>
                        <input
                            name="codeholder[address][cityArea]"
                            value="{{akso_registration.state.codeholder.address.cityArea|e('html_attr')}}"
                            type="text" />
                    </div>
                </div>
                <div class="settings-field">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_postal_code}}</label>
                        <input
                            name="codeholder[address][postalCode]"
                            value="{{akso_registration.state.codeholder.address.postalCode|e('html_attr')}}"
                            type="text" />
                    </div>
                </div>
                <div class="settings-field">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_street_address}}</label>
                        <input
                            name="codeholder[address][streetAddress]"
                            value="{{akso_registration.state.codeholder.address.streetAddress|e('html_attr')}}"
                            type="text" />
                    </div>
                </div>
                <div class="settings-field">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.codeholder_sorting_code}}</label>
                        <input
                            name="codeholder[address][sortingCode]"
                            value="{{akso_registration.state.codeholder.address.sortingCode|e('html_attr')}}"
                            type="text" />
                    </div>
                </div>
                {% endif %}
                <hr />
                <div class="settings-field">
                    <div class="inner-field">
                        <label>{{akso_locale.registration.settings_currency}}</label>
                        <select name="currency">
                            {% for currency, multiplier in akso_registration.currencies %}
                                <option
                                    value="{{ currency|e('html_attr') }}"
                                    {% if akso_registration.state.currency == currency %}
                                    selected
                                    {% endif %}
                                    >{{currency|e}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field-description">
                        {{akso_locale.registration.settings_currency_desc}}
                    </div>
                </div>
            </div>
            <div class="form-buttons">
                <button type="submit" class="is-primary" formaction="{{akso_registration.targets.offers|e('html_attr')}}">
                    {{akso_locale.registration.codeholder_next}}
                </button>
            </div>
        {% elseif akso_registration.state.step == 1 %}
            <div class="offer-selection">
                <h2>{{akso_locale.registration.offers_title}}</h2>
                <p>
                    {{akso_locale.registration.offers_desc}}
                </p>
                {% for offerYear in akso_registration.offers %}
                <div class="offer-year">
                    <input class="year-expansion-switch" type="checkbox"
                        id="rx-year-{{offerYear.year|e}}"
                        {% if offerYear.year == akso_registration.thisYear %}
                        checked
                        {% endif %} />
                    <label tabindex="0" for="rx-year-{{offerYear.year|e}}" class="year-title">
                        <span class="title-arrow"></span>
                        <span class="title-contents">
                            {{offerYear.year|e}}
                        </span>
                    </label>
                    {% for groupIndex, offerGroup in offerYear.offers %}
                    <div class="year-offer-group">
                        <div class="offer-group-info">
                            <div class="group-title">{{offerGroup.title|e}}</div>
                            <div class="group-description">{{offerGroup.description}}</div>
                        </div>
                        {% for offerIndex, offer in offerGroup.offers %}
                        {% set id = 'offer-item-' ~ offerYear.year ~ '-' ~ groupIndex ~ '-' ~ offerIndex %}
                        {% set classes = '' %}
                        {% set available = true %}
                        {% if offer.type == 'membership' and not offer.price %}
                            {% set available = false %}
                            {% set classes = 'not-available' %}
                        {% endif %}

                        {% if available %}
                        <input
                            class="offer-item-selection"
                            {% if akso_registration.categories[offer.id].givesMembership %}
                            type="radio"
                            name="offers[{{offerYear.year|e}}][membership]"
                            value="{{groupIndex}}-{{offerIndex}}-{{offer.type}}-{{offer.id}}"
                            {% else %}
                            type="checkbox"
                            name="offers[{{offerYear.year|e}}][{{groupIndex|e}}][{{offerIndex|e}}][{{offer.type}}-{{offer.id}}]"
                            {% endif %}
                            {% if akso_registration.state.offers_indexed[offerYear.year ~ '-' ~ groupIndex ~ '-' ~ offerIndex] %}
                            checked
                            {% endif %}
                            id="{{id|e('html_attr')}}" />
                        {% endif %}
                        <div class="offer-item {{classes}}">
                            <div class="offer-item-inner">
                                <div class="item-selection">
                                    <label tabindex="0" aria-role="checkbox" class="selection-box" for="{{id|e('html_attr')}}"></label>
                                </div>
                                {% if offer.type == 'membership' %}
                                <div class="item-details">
                                    <div class="item-name">
                                        <span class="item-abbrev">{{akso_registration.categories[offer.id].nameAbbrev|e}}</span>
                                        {{akso_registration.categories[offer.id].name|e}}
                                    </div>
                                    <div class="item-description">
                                        {{akso_registration.categories[offer.id].description}}
                                    </div>
                                </div>
                                <div class="item-price">
                                    {% if offer.price %}
                                        {{offer.price.amount|e}}
                                    {% else %}
                                        {{akso_locale.registration.offer_not_available}}
                                    {% endif %}
                                </div>
                                {% elseif offer.type == 'addon' %}
                                <div class="item-details">
                                    <div class="item-name">
                                        {{akso_registration.addons[offerYear.paymentOrgId][offer.id].name|e}}
                                    </div>
                                    <div class="item-description">
                                        {{akso_registration.addons[offerYear.paymentOrgId][offer.id].description}}
                                    </div>
                                </div>
                                <div class="item-price is-variable">
                                    <input
                                        class="price-input"
                                        name="offer_amount[{{offerYear.year|e}}-{{groupIndex}}-{{offerIndex}}]"
                                        value="{{akso_registration.state.offers_indexed_amounts[offerYear.year ~ '-' ~ groupIndex ~ '-' ~ offerIndex]|e('html_attr')}}"
                                        type="text"
                                        placeholder="{{akso_registration.state.currency_placeholder}}"
                                        inputmode="numeric" />
                                    <span class="price-currency">
                                        {{akso_registration.state.currency}}
                                    </span>
                                </div>
                                {% endif %}
                            </div>
                            {% if offer.type == 'membership' and offer.price and offer.price.description %}
                            <div class="item-price-description">
                                <div class="inner-padding"></div>
                                <div class="inner-description">
                                    <div class="inner-title">{{akso_locale.registration.offer_price_desc_title}}</div>
                                    {{offer.price.description}}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="form-buttons">
                <button type="submit" class="is-primary" formaction="{{akso_registration.targets.summary|e('html_attr')}}">
                    {{akso_locale.registration.offers_next}}
                </button>
            </div>
        {% elseif akso_registration.state.step == 2 %}
        <p>
            {{akso_locale.registration.entry_create_desc}}
        </p>
        <div class="form-buttons">
            <button type="submit" class="is-primary" formaction="{{akso_registration.targets.entry_create|e('html_attr')}}">
                {{akso_locale.registration.entry_create}}
            </button>
        </div>
        {% elseif akso_registration.state.step == 3 %}
        <div class="payment-orgs">
            {% for org in akso_registration.payment_orgs %}
            <div class="payment-org">
                <div class="org-title">
                    <div class="title-inner">
                        <span>
                            {% if count(org.years) > 1 %}
                            {{akso_locale.registration.payment_org_for_years}}
                            {% else %}
                            {{akso_locale.registration.payment_org_for_year}}
                            {% endif %}
                        </span>
                        {% for i, year in org.years %}{% if i > 0 %}, {% endif %}{{year|e}}{% endfor %}
                    </div>
                    {% if org.can_pay %}
                    <div class="title-price">
                        {{org.offers_sum_rendered}}
                    </div>
                    {% endif %}
                </div>
                {% if org.can_pay %}
                    <ul class="org-methods">
                        {% if count(org.methods) == 0 %}
                            <li class="methods-empty">{{akso_locale.registration.payment_org_no_methods}}</li>
                        {% endif %}
                        {% for method in org.methods %}
                        {% if method.isRecommended %}
                        <li class="payment-method is-recommended">
                        {% else %}
                        <li class="payment-method">
                        {% endif %}
                            {% set method_radio_id = 'payment-method-check-' ~ org.id ~ '-' ~ method.id %}
                            <form class="method-details" method="POST">
                                <label class="method-name" for="{{method_radio_id}}">{{method.name|e}}</label>
                                <div class="method-description">{{method.description}}</div>
                                <div class="method-selection">
                                    <div class="method-currency">
                                        <label>{{akso_locale.registration.payment_currency}}</label>
                                        <select
                                            name="payment_currency">
                                            {% for currency in method.currencies %}
                                                <option
                                                    {% if akso_registration.state.currency == currency %}
                                                    selected
                                                    {% endif %}
                                                    value="{{currency|e('html_attr')}}">
                                                    {{currency|e}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input class="hidden-input" name="payment_org" value="{{org.id}}" />
                                    <input class="hidden-input" name="payment_method_id" value="{{method.id}}" />
                                    <div class="submit-container">
                                        <button type="submit">
                                            {{akso_locale.registration.payment_method_select}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul class="org-summary">
                        {% for year in org.years %}
                            <li class="org-year-state">
                                <span class="year-title">{{year|e}}</span>
                                <span class="year-status">
                                    {{akso_locale.registration['payment_status_' ~ akso_registration.state.year_statuses[year]]}}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% if akso_registration.state.step >= 3 %}
    </div>
    {% else %}
    </form>
    {% endif %}
{% endblock %}
