{% extends "partials/base.html.twig" %}

{% block content %}
{% if akso_congress_error %}
    <div class="error-banner">
        {{ akso_congress_error|e }}
    </div>
{% endif %}

{% macro header_contents(logo_url, congress) %}
    {% if logo_url %}
    <div class="congress-logo-container">
        <img class="congress-logo" src="{{ logo_url|e('html_attr') }}" />
    </div>
    {% endif %}
    <h1 class="congress-name">
        {{ congress.name|e }}
    </h1>
{% endmacro %}

{% if akso_congress_header_url %}
<figure class="congress-cover-header full-width carousel">
    <p>
        <img class="congress-cover-image" src="{{ akso_congress_header_url|e('html_attr') }}" />
    </p>
    <p>
        {{ _self.header_contents(akso_congress_logo_url, akso_congress) }}
    </p>
</figure>
{% else %}
<div class="congress-header">
    {{ _self.header_contents(akso_congress_logo_url, akso_congress) }}
</div>
{% endif %}
<div class="congress-meta">
    <div class="congress-countdown-container">
        <span class="congress-countdown is-large live-countdown" data-timestamp="{{ akso_congress_start_time|e('html_attr') }}" />
    </div>
    <div class="congress-location-container">
        <span class="congress-location" data-name="{{ akso_congress.locationName|e('html_attr') }}" />
    </div>
    <div class="congress-date-container">
        <span class="congress-date-span" data-from="{{ akso_congress.dateFrom|e('html_attr') }}" data-to="{{ akso_congress.dateTo|e('html_attr') }}" />
    </div>
</div>
{% if akso_congress_registration_enabled %}
<div class="congress-registration">
    {% set reg_disabled = '' %}
    {% if not akso_congress_registration_allowed %}
    {% set reg_disabled = 'disabled title="Ne plu eblas aliĝi"' %}
    {% endif %}
    {% if akso_congress_registration_guest_not_allowed %}
    <a class="congress-registration-button-link" href="{{ akso_congress_registration_link|e('html_attr') }}">
        <button {{ reg_disabled }} class="congress-registration-button needs-login">
            Ensaluti aŭ registriĝi por aliĝi
            <span class="registration-icon" />
        </button>
    </a>
    {% else %}
    <a class="congress-registration-button-link" href="{{ akso_congress_registration_link|e('html_attr') }}">
        <button {{ reg_disabled }} class="is-primary congress-registration-button">
            Aliĝi
            {# Vidi vian aliĝon #}
            <span class="registration-icon" />
        </button>
    </a>
    {% endif %}
</div>
{% endif %}
{{ page.content }}
{% endblock %}
