{% extends "partials/base.html.twig" %}

{% block content %}
{% if akso_congress_error %}
    <div class="error-banner">
        {{ akso_congress_error }}
    </div>
{% endif %}

{% macro header_contents(logo_url, congress) %}
    {% if logo_url %}
    <div class="congress-logo-container">
        <img class="congress-logo" src="{{ logo_url }}" />
    </div>
    {% endif %}
    <h1 class="congress-name">
        {{ congress.name }}
    </h1>
{% endmacro %}

{% if akso_congress_header_url %}
<figure class="congress-cover-header full-width carousel">
    <p>
        <img class="congress-cover-image" src="{{ akso_congress_header_url }}" />
    </p>
    <p>
        {{ _self.header_contents(akso_congress_logo_url, akso_congress) }}
    </p>
</figure>
{% else %}
<div class="congress-header">
    {{ _self.header_contents(akso_congress_logo_url, akso_congress) }}
</div>
{% endif %}
<div class="congress-meta">
    <div class="congress-countdown-container">
        <span class="congress-countdown" data-timestamp="{{ akso_congress_start_time }}" />
    </div>
    <div class="congress-location-container">
        <span class="congress-location" data-name="{{ akso_congress.locationName }}" />
    </div>
    <div class="congress-date-container">
        <span class="congress-date-span" data-from="{{ akso_congress.dateFrom }}" data-to="{{ akso_congress.dateTo }}" />
    </div>
</div>
<div class="congress-registration">
    <button class="is-primary congress-registration-button">
        Aliĝi
        <span class="registration-icon" />
    </button>
</div>
{{ page.content }}
{% endblock %}
