{% extends 'partials/base.html.twig' %}
{% block content %}
    {{page.content}}
    <div class="country-org-list-overview">
        <ul aria-label="{{akso_locale.country_org_lists.country_list_all_label}}">
            {% for code in akso_clist.list_country_codes %}
            <li class="country-item" data-code="{{code}}">
                <a href="{{akso_clist.list_country_links[code]}}">
                    <img
                        class="inline-flag-icon"
                        draggable="false"
                        src="{{akso_clist.country_emoji[code].src|e('html_attr')}}"
                        alt="{{akso_clist.country_emoji[code].alt|e('html_attr')}}" />
                    {{akso_clist.country_names[code]}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if not akso_clist.view_all %}
        <div class="country-org-list">
            {% set code = akso_clist.view %}
            <h1>
                <img
                    class="inline-flag-icon"
                    draggable="false"
                    src="{{akso_clist.country_emoji[code].src|e('html_attr')}}"
                    alt="{{akso_clist.country_emoji[code].alt|e('html_attr')}}" />
                {{akso_clist.country_names[code]}}
            </h1>
            <ul aria-label="{{akso_locale.country_org_lists.country_list_label_0}}{{code}}{{akso_locale.country_org_lists.country_list_label_1}}">
                {% for orgId in akso_clist.list_countries[code] %}
                {% set org = akso_clist.orgs[orgId] %}
                <li class="inner-org-card">
                    <h4>{{org.fullName|e}}</h4>
                    <div class="org-descriptor">
                        <h5>{{org.mainDescriptor|e}}</h5>
                    </div>
                    <details>
                        <summary>
                            {{akso_locale.country_org_lists.country_item_summary_title}}
                        </summary>
                        {% if org.fullNameLocal %}
                        <h5 class="org-local-name">{{org.fullNameLocal|e}}</h5>
                        {% endif %}
                        <table class="org-factoids">
                            <tbody>
                                {% for factKey, fact in org.factoids|merge(org.data_factoids) %}
                                {% if fact.publicity != 'private' %}
                                <tr class="org-factoid" data-type="{{fact.type}}">
                                    <th class="factoid-label">{{factKey|e}}</th>
                                    <td class="factoid-contents">
                                        {% if fact.publicity == 'members' %}
                                        <span class='akso-members-only-content'>
                                            <span class='akso-members-only-content-if-clause'>
                                        {% endif %}

                                        {% if fact.type == 'tel' %}
                                        <a href="tel:{{fact.val|e('html_attr')}}">
                                            {{fact.val_rendered|e}}
                                        </a>
                                        {% elseif fact.type == 'text' %}
                                        {% if fact.show_plain %}
                                        <div class="factoid-text">
                                            {% for line in fact.val|split('\n') %}
                                            <div>{{line|e}}</div>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <div class="factoid-text">
                                            {{fact.val_rendered|raw}}
                                        </div>
                                        {% endif %}
                                        {% elseif fact.type == 'number' %}
                                        {{fact.val|e}}
                                        {% elseif fact.type == 'email' %}
                                        {{fact.val_rendered|raw}}
                                        {% elseif fact.type == 'url' %}
                                        <a class="factoid-url" href="{{fact.val|e('html_attr')}}">
                                            {{fact.val|e}}
                                        {% endif %}

                                        {% if fact.publicity == 'members' %}
                                            <span class='akso-members-only-content-else-clause'>
                                                <span class="akso-members-only-notice-inline"></span>
                                            </span>
                                        </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="org-biography">
                            {% set is_first = true %}
                            {% for line in org.biography|split('\n') %}
                                {% if is_first %}
                                    {% set is_first = false %}
                                {% else %}
                                <br />
                                {% endif %}
                                {{line|e}}
                            {% endfor %}
                        </div>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
