{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if account.reset_password.active %}
        <h2>{{ akso_locale.account.reset_password }}</h2>
        <p>
            {% if account.reset_password.state is same as('none') %}
            {{ akso_locale.account.reset_password_description }}
            {% elseif account.reset_password.state is same as('success') %}
            {{ akso_locale.account.reset_password_description_success }}
            {% elseif account.reset_password.state is same as('error') %}
            {{ akso_locale.account.reset_password_description_error }}
            {% endif %}
        </p>
        <form
            class="reset-password-buttons"
            method="POST"
            action="{{ account.reset_password.submit_link }}">
            <a class="link-button" href="{{ account.reset_password.return_link }}">
                {{ akso_locale.account.reset_password_back }}
            </a>
            <div class="form-aux">
                <input name="reset_password" value="1" />
            </div>
            {% if account.reset_password.state is same as('none') %}
            <button class="is-primary" type="submit">
                {{ akso_locale.account.reset_password_submit }}
            </button>
            {% endif %}
        </form>
    {% elseif account.editing %}
    {% else %}
        <h1>{{ akso_locale.account.title }}</h1>
        <div class="account-details">
            {% if account.details.profilePictureHash %}
                <div class="account-profile-picture">
                    <img
                        src="{{ account.details.profilePicturePath }}"
                        srcset="{{ account.details.profilePictureSizes }}" />
                </div>
            {% endif %}
            <h2 class="account-formatted-name">{{ account.details.fmtName|e }}</h2>
            {% if account.details.fmtLegalName %}
                <div class="account-legal-name">
                    {{ akso_locale.account.legal_name }}:
                    <b>{{ account.details.fmtLegalName|e }}</b>
                </div>
            {% endif %}
            {% if account.details.fmtLocalName %}
                <div class="account-local-name">
                    {{ akso_locale.account.local_name }}:
                    <b>{{ account.details.fmtLocalName|e }}</b>
                </div>
            {% endif %}
            <div class="table-clear" />
            <table class="details-table">
                <tbody>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.newCode }}</th>
                        <td>
                            {{ account.details.newCode|e }}
                            {% if account.details.oldCode %}
                                <span class="old-code-field">
                                    {{ akso_locale.account.oldCode }}: {{ account.details.oldCode|e }}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.email }}</th>
                        <td>{{ account.details.email|e }}</td>
                    </tr>
                    {% if account.details.codeholderType == 'human' %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.birthdate }}</th>
                            <td>{{ account.details.fmtBirthdate|e }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="field-label">{{ akso_locale.account.phoneNumbers }}</th>
                        <td>
                            {{ account.details.phoneNumbersFormatted }}
                        </td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.address }}</th>
                        <td>{{ account.details.fmtAddress }}</td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.feeCountry }}</th>
                        <td>{{ account.details.fmtFeeCountry|e }}</td>
                    </tr>
                    {% if account.details.codeholderType == 'human' %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.profession }}</th>
                            <td>{{ account.details.profession ? account.details.profession|e : '—' }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th class="field-label">{{ akso_locale.account.website }}</th>
                        <td>{{ account.details.website ? account.details.website|e : '—' }}</td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.biography }}</th>
                        <td class="biography-field">{{ account.details.biography ? account.details.biography|e : '—' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="account-management">
            <button>
                [[req. chg]]
            </button>
            <a class="link-button" href="{{ account.reset_password.link }}">
                {{ akso_locale.account.reset_password }}
            </a>
            <a class="link-button" href="{{ account.logins_link }}">
                {{ akso_locale.account.logins_title }}
            </a>
        </div>
        <div class="account-memberships">
            <h2 class="memberships-title">{{ akso_locale.account.memberships_title }}</h2>
            {% if account.membership.categories is empty %}
                <div class="memberships-none">
                    {{ akso_locale.account.memberships_none }}
                </div>
            {% else %}
                <ul class="memberships-list">
                    {% for category in account.membership.categories %}
                    <li class="membership-category">
                        {{ category.meow }}
                        {% if category.canBeRenewed %}
                            <button class="category-renew-button">
                                {{ akso_locale.account.membership_category_renew }}
                            </button>
                        {% endif %}
                        <div class="category-name">{{ category.name|e }}</div>
                        <ul class="membership-years">
                            {% for year in category.years %}
                                <li class="membership-year {{ category.lifetime ? 'is-lifetime' : '' }}">
                                    {% if category.lifetime %}
                                        {{ akso_locale.account.membership_lifetime_prefix }}
                                    {% endif %}
                                    {{ year|e }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% if account.membership.historyHasMore %}
                <div class="memberships-has-more">
                    {{ akso_locale.account.memberships_has_more_items }}
                </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
