{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if akso_login_error %}
        <div id="akso-login-error">
            {% if akso_login_error == 'loginbad' %}
                Eraro
            {% elseif akso_login_error == 'authuea' %}
                Nevalida UEA-kodo aŭ pasvorto
            {% elseif akso_login_error == 'authemail' %}
                Nevalida retpoŝtadreso aŭ pasvorto
            {% elseif akso_login_error == 'nopw' %}
                Via konto {{ akso_login_username }} ŝajne ne havas pasvorton
            {% elseif akso_login_error == 'totpauth' %}
                Nevalida sekurkodo
            {% elseif akso_login_error == 'totpbad' %}
                {# user cannot use totp in their current state #}
                {# possibly already used totp, did not set up totp, etc. #}
                Eraro
            {% elseif akso_login_error == 'totpnosx' %}
                {# no user session #}
                Eraro
            {% elseif akso_login_error == 'reset-error' %}
                Eraro
            {% endif %}
        </div>
    {% endif %}
    <form id="akso-login" method="POST">
        {% if akso_login_forgot_login %}
            <p>
                {{ akso_locale.login.forgot_login_message }}
            </p>
        {% elseif akso_login_lost_code %}
            <p>
                {{ akso_locale.login.lost_totp_message }}
            </p>
        {% elseif akso_login_is_pw_reset and akso_login_pw_reset_success %}
            <p>
                {{ akso_locale.login.forgot_password_success }}
            </p>
        {% elseif akso_login_is_pw_reset %}
            <h1 class="title small-title">Restarigi Pasvorton</h1>
            <p>
                {{ akso_locale.login.forgot_password_msg }}
            </p>
            <div class="form-field">
                <label for="akso-login-username">
                    UEA-kodo aŭ retpoŝtadreso
                </label>
                <input
                    id="akso-login-username"
                    name="username"
                    type="text"
                    value="{{ akso_login_username|e('html_attr') }}"
                    {% if not akso_login_username|e('html_attr') %} autofocus {% endif %} />
            </div>
            <div class="form-aux">
                <input name="return" value="{{ akso_login_return_path|e('html_attr') }}" />
                <input type="text" name="reset_password" value="yes" />
            </div>
            <footer class="form-footer">
                <a class="link-button" href="{{ akso_login_path }}">
                    Reiri
                </a>
                <div class="footer-spacer"></div>
                <button type="submit" class="is-primary">
                    Sendi retpoŝtmesaĝon
                </button>
            </footer>
        {% elseif akso_login_totp %}
            <h1 class="title">Sekurkodo</h1>
            <p>
                Bonvolu enmeti sekurkodon generitan de via duafaktora aplikaĵo.
            </p>
            <div class="form-field">
                <input
                    id="akso-login-totp"
                    name="totp"
                    type="text"
                    placeholder="000000"
                    {# \d* seems to be the only way to get a numpad input on iOS #}
                    pattern="\d*"
                    inputmode="numeric"
                    autocomplete="off"
                    autofocus />
            </div>
            <div class="totp-remember">
                <input type="checkbox" name="remember" id="akso-login-totp-remember" />
                <label for="akso-login-totp-remember">
                    Memori tiun ĉi aparaton dum 60 tagoj
                </label>
                <div class="totp-remember-description">
                    Nur uzu tiun ĉi funkcion ĉe personaj komputiloj.
                </div>
            </div>
            <footer class="form-footer">
                <div class="footer-help-links">
                    <a href="{{ akso_login_lost_code_path|e('html_attr') }}">Mi ne povas generi sekurkodon</a>
                </div>

                <button type="submit" class="is-primary">
                    Ensaluti
                </button>
            </footer>
        {% else %}
            <h1 class="title">Ensaluti</h1>
            <div class="form-field">
                <label for="akso-login-username">
                    UEA-kodo aŭ retpoŝtadreso
                </label>
                <input
                    id="akso-login-username"
                    name="username"
                    type="text"
                    value="{{ akso_login_username|e('html_attr') }}"
                    {% if not akso_login_username|e('html_attr') %} autofocus {% endif %} />
            </div>
            <div class="form-field">
                <label for="akso-login-password">
                    Pasvorto
                </label>
                <input
                    id="akso-login-password"
                    name="password"
                    type="password"
                    {% if akso_login_username %} autofocus {% endif %} />
            </div>
            <div class="form-aux">
                <input name="return" value="{{ akso_login_return_path|e('html_attr') }}" />
                {# fake inputs to prevent bots #}
                ne ŝaltu ĉi tiun butonon:
                <input type="checkbox" name="termsofservice" />
                kaj ne uzu ĉi tiun enigon:
                <input type="email" name="email" />
            </div>
            <footer class="form-footer">
                <div class="footer-help-links">
                    <a href="{{ akso_login_forgot_password_path|e('html_attr') }}">Mi forgesis mian pasvorton</a>
                    <a href="{{ akso_login_forgot_login_path|e('html_attr') }}">Mi forgesis mian UEA-kodon</a>
                </div>

                <button type="submit" class="is-primary">
                    Daŭrigi
                </button>
            </footer>
        {% endif %}
    </form>
{% endblock %}
