{% extends 'partials/base.html.twig' %}
{% block content %}
{% if akso_magazines.type == 'magazine' %}
<div class="akso-magazines is-magazine-page">
    <div class="magazines-back-container">
        <a class="back-button" href="{{akso_magazines.path_components.base}}">
            <span class="back-icon"></span>
            {{akso_locale.magazines.magazine_back_to_gallery}}
        </a>
    </div>
    <h1>{{akso_magazines.magazine.name}}</h1>
    <div class="magazine-description">
        {{akso_magazines.magazine.description_rendered|raw}}
    </div>
    <h2>{{akso_locale.magazines.magazine_editions_title}}</h2>
    {% if count(akso_magazines.editions) > 1 %}
    <ul class="magazine-edition-years">
        {% for year, editions in akso_magazines.editions %}
        <li class="edition-year-item">
            <a class="edition-year-link" href="#{{year}}">{{year}}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for year, editions in akso_magazines.editions %}
    <h3 class="section-marker edition-year-header" id="{{year}}">{{year}}</h3>
    <ul class="magazines-cover-gallery">
        {% for edition in editions %}
        <li class="magazine-item">
            {% set edition_path = akso_magazines.path_components.base ~ '/' ~ akso_magazines.path_components.magazine ~ '/'
                ~ akso_magazines.magazine.id ~ '/' ~ akso_magazines.path_components.edition ~ '/' ~ edition.id %}
            <div class="item-inner-card">
                <h4 class="item-edition-title">
                    <a href="{{edition_path}}">{{edition.idHuman}}</a>
                </h4>
                <div class="item-edition-date">{{edition.date}}</div>
                <a class="item-cover-link" href="{{edition_path}}">
                    {% include 'partials/akso_magazine_cover.html.twig' with { magazine: akso_magazines.magazine, edition: edition } %}
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% elseif akso_magazines.type == 'edition' %}
<div class="akso-magazines is-edition-page">
    <h3 class="magazines-inner-back-container">
        {% set magazine_path = akso_magazines.path_components.base ~ '/' ~ akso_magazines.path_components.magazine ~ '/'
            ~ akso_magazines.magazine.id %}
        <a class="back-button" href="{{magazine_path}}">
            <span class="back-icon"></span>
            {{akso_magazines.magazine.name}}
        </a>
    </h3>
    <div class="edition-page-content-split">
        {% if akso_magazines.edition.hasThumbnail %}
        {% set mtb = akso_magazine_cover_path ~ '?m=' ~ akso_magazines.magazine.id ~ '&e=' ~ akso_magazines.edition.id ~ '&s=' %}
        <div class="edition-cover">
            <img
                alt="{{akso_magazines.magazine.name}} - {{akso_magazines.edition.idHuman}}"
                class="inner-cover"
                src="{{mtb}}512px"
                srcset="{{mtb}}512px 1x, {{mtb}}1024px 2x" />
        </div>
        {% endif %}
        <div class="edition-info">
            <div class="edition-details-container">
                <h1 class="edition-title">
                    {{akso_magazines.magazine.name}}{{akso_locale.magazines.edition_title_separator}}{{akso_magazines.edition.idHuman}}
                </h1>
                <div class="edition-date">{{akso_magazines.edition.date}}</div>
                <div class="edition-description">
                    {{akso_magazines.edition.description_rendered|raw}}
                </div>
            </div>
            <div class="edition-downloads">
                {% set has_download = akso_magazines.edition.downloads.pdf or akso_magazines.edition.downloads.epub %}
                {% if akso_magazines.can_download and has_download %}
                    {% if akso_magazines.edition.downloads.pdf %}
                        <a class="download-button link-button" href="{{akso_magazines.edition.downloads.pdf.link}}">
                            <img class="download-icon" src="/user/plugins/akso-bridge/assets/files/pdf.svg" draggable="false" aria-hidden="true" />
                            <span class="download-label">
                                {{akso_magazines.can_download
                                    ? akso_locale.magazines.edition_downloads_download_pdf
                                    : akso_locale.magazines.edition_downloads_login_pdf}}
                            </span>
                        </a>
                    {% endif %}
                    {% if akso_magazines.edition.downloads.epub %}
                        <a class="download-button link-button" href="{{akso_magazines.edition.downloads.epub.link}}">
                            <img class="download-icon" src="/user/plugins/akso-bridge/assets/files/epub.svg" draggable="false" aria-hidden="true" />
                            <span class="download-label">
                                {{akso_magazines.can_download
                                    ? akso_locale.magazines.edition_downloads_download_epub
                                    : akso_locale.magazines.edition_downloads_login_epub}}
                            </span>
                        </a>
                    {% endif %}
                {% elseif has_download %}
                    <a class="download-button link-button requires-login" href="{{akso_magazines.path_components.login_path}}">
                        {% if akso_magazines.edition.downloads.pdf %}
                        <img class="download-icon" src="/user/plugins/akso-bridge/assets/files/pdf.svg" draggable="false" aria-hidden="true" />
                        {% else %}
                        <img class="download-icon" src="/user/plugins/akso-bridge/assets/files/epub.svg" draggable="false" aria-hidden="true" />
                        {% endif %}
                        <span class="download-label">
                            {{akso_locale.magazines.edition_downloads_login}}
                        </span>
                        <span class="dl-login-arrow"></span>
                    </a>
                {% else %}
                <span class="downloads-empty-notice">
                    {{akso_locale.magazines.edition_downloads_none}}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
    {% if akso_magazines.toc_entries is not empty %}
    <div class="edition-contents">
        <div class="edition-contents-title">
            <h2>{{akso_locale.magazines.edition_toc_title}}</h2>
        </div>
        <input id="edition-content-list-collapse" type="checkbox" checked aria-hidden="true" />
        {% set has_collapsed_entries = false %}
        {% set edition_path = akso_magazines.path_components.base ~ '/' ~ akso_magazines.path_components.magazine ~ '/'
            ~ akso_magazines.magazine.id ~ '/' ~ akso_magazines.path_components.edition ~ '/' ~ akso_magazines.edition.id %}
        <ul class="edition-content-list">
            {% for entry in akso_magazines.toc_entries %}
                {% set hasRecitation = entry.recitationAuthor is not empty %}
                {% set showRecitation = akso_magazines.can_download and hasRecitation %}
                {% if not entry.highlighted %}
                    {% set has_collapsed_entries = true %}
                {% endif %}
                {% set toc_path = edition_path ~ '/' ~ akso_magazines.path_components.toc ~ '/' ~ entry.id %}
                <li class="content-list-item {{entry.highlighted ? 'is-highlighted' : ''}} {{entry.author ? 'has-author' : ''}} {{showRecitation ? 'has-recitation' : ''}}">
                <div class="entry-title-line">
                    {% if akso_magazines.can_download %}
                    <a href="{{toc_path}}" class="entry-title">{{entry.title}}</a>
                    {% else %}
                    <span class="entry-title">{{entry.title}}</span>
                    {% endif %}
                    <div class="entry-dots"></div>
                    <span class="entry-page">
                        {{entry.page}}
                    </span>
                </div>
                <div class="entry-author-line">
                    <span class="entry-author">
                        {{entry.author}}
                        {% if hasRecitation and not showRecitation %}
                            ·
                            {{akso_locale.magazines.entry_recitation_read_by_0}}
                            {{entry.recitationAuthor}}
                            {{akso_locale.magazines.entry_recitation_read_by_1}}
                        {% endif %}
                    </span>
                </div>
                {% if showRecitation %}
                <div class="entry-recitation">
                    <div class="recitation-audio">
                        <audio controls preload="none">
                            {% for format in entry.recitationFormats %}
                                <source type="{{entry.downloads[format].mime}}" src="{{entry.downloads[format].link}}" />
                            {% endfor %}
                        </audio>
                    </div>
                    <span class="recitation-label">
                        {{akso_locale.magazines.entry_recitation_read_by_0}}
                        <span class="recitation-author">{{entry.recitationAuthor}}</span>
                        {{akso_locale.magazines.entry_recitation_read_by_1}}
                    </span>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% if has_collapsed_entries %}
        <label
            for="edition-content-list-collapse"
            class="content-list-collapse-button"
            aria-role="button"
            tabindex="0"
            aria-label="{{akso_locale.magazines.edition_toc_highlight_expand_btn}}">
            <span class="inner-collapse-icon"></span>
            <span class="inner-expand-label">{{akso_locale.magazines.edition_toc_highlight_expand_btn}}</span>
            <span class="inner-collapse-label">{{akso_locale.magazines.edition_toc_highlight_collapse_btn}}</span>
        </label>
        {% endif %}
    </div>
    {% endif %}
</div>
{% elseif akso_magazines.type == 'toc_entry' %}
<div class="akso-magazines is-toc-entry-page">
    {% set edition_path = akso_magazines.path_components.base ~ '/' ~ akso_magazines.path_components.magazine ~ '/'
        ~ akso_magazines.magazine.id ~ '/' ~ akso_magazines.path_components.edition ~ '/' ~ akso_magazines.edition.id %}
    <h3 class="magazines-inner-back-container">
        <a class="back-button" href="{{edition_path}}">
            <span class="back-icon"></span>
            {{akso_magazines.magazine.name}}{{akso_locale.magazines.edition_title_separator}}{{akso_magazines.edition.idHuman}}
        </a>
    </h3>
    <div class="toc-entry-info">
        <h2 class="entry-title">
            <span class="entry-page">{{akso_magazines.entry.page}}</span>
            {{akso_magazines.entry.title}}
        </h2>
        {% if akso_magazines.entry.author %}
        <h5 class="entry-author">
            {{akso_locale.magazines.entry_author_label_0}}
            {{akso_magazines.entry.author}}
            {{akso_locale.magazines.entry_author_label_1}}
        </h5>
        {% endif %}
    </div>
    {% if akso_magazines.entry.recitationAuthor %}
    <div class="toc-sticky-recitation entry-recitation" data-sticky="true">
        <div class="recitation-audio">
            <audio controls preload="none">
                {% for format in akso_magazines.entry.recitationFormats %}
                    <source type="{{akso_magazines.entry.downloads[format].mime}}" src="{{akso_magazines.entry.downloads[format].link}}" />
                {% endfor %}
            </audio>
        </div>
        <span class="recitation-label">
            {{akso_locale.magazines.entry_recitation_read_by_0}}
            <span class="recitation-author">{{akso_magazines.entry.recitationAuthor}}</span>
            {{akso_locale.magazines.entry_recitation_read_by_1}}
        </span>
    </div>
    <div class="toc-entry-recitation-meta">
        <div class="recitation-download">
            {% for format in akso_magazines.entry.recitationFormats %}
                <a class="download-link" download href="{{akso_magazines.entry.downloads[format].link}}">
                    {{akso_locale.magazines.entry_recitation_download_format_0}}
                    {{format}}
                    {{akso_locale.magazines.entry_recitation_download_format_1}}
                </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="toc-entry-text">
        {% if akso_magazines.entry.text is empty %}
            {{akso_locale.magazines.entry_text_is_empty}}
        {% else %}
            {{akso_magazines.entry.text_rendered|raw}}
        {% endif %}
    </div>
</div>
{% elseif akso_magazines.type == 'error' %}
todo: error
{% endif %}
{% endblock %}
