{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if account.reset_password.active %}
        <h2>{{ akso_locale.account.reset_password }}</h2>
        <p>
            {% if account.reset_password.state is same as('none') %}
            {{ akso_locale.account.reset_password_description }}
            {% elseif account.reset_password.state is same as('success') %}
            {{ akso_locale.account.reset_password_description_success }}
            {% elseif account.reset_password.state is same as('error') %}
            {{ akso_locale.account.reset_password_description_error }}
            {% endif %}
        </p>
        <form
            class="reset-password-buttons"
            method="POST"
            action="{{ account.reset_password.submit_link }}">
            <a class="link-button" href="{{ account.reset_password.return_link }}">
                {{ akso_locale.account.reset_password_back }}
            </a>
            <div class="form-aux">
                <input name="reset_password" value="1" />
            </div>
            {% if account.reset_password.state is same as('none') %}
            <button class="is-primary" type="submit">
                {{ akso_locale.account.reset_password_submit }}
            </button>
            {% endif %}
        </form>
    {% else %}
        <h1>{{ akso_locale.account.title }}</h1>
        {% if account.pending_request %}
            <div class="account-pending-request-banner">
                <a class="link-button cancel-button">
                    {{ akso_locale.account.pending_request_cancel }}
                    TODO THIS BUTTON
                </a>
                <h3 class="banner-title">{{ akso_locale.account.pending_request_title }}</h3>
                {% if account.editing %}
                <h4 class="banner-subtitle">{{ akso_locale.account.pending_request_editing_subtitle }}</h4>
                {% else %}
                <h4 class="banner-subtitle">{{ akso_locale.account.pending_request_subtitle }}</h4>
                <div class="pending-changes">
                    <div class="changes-title">{{ akso_locale.account.pending_request_changes_title }}:</div>
                    <ul class="changed-fields">
                        {% for field, value in account.pending_request.data %}
                            <li class="changed-field">
                                {{ akso_locale.account[field] }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endif %}
        {% if account.editing %}
            <div class="akso-registration-page">
                <a class="link-button back-button" href="{{ account.account_link }}">
                    <span class="back-icon"></span>
                    {{ akso_locale.account.cancel_edit }}
                </a>
                {% if account.error %}
                    <div class="error-banner">
                        {{account.error}}
                    </div>
                {% endif %}
                <form class="account-details registration-settings" method="POST" action="{{ account.edit_path }}">
                    {% set akso_registration = { state: account, countries: account.countries } %}
                    {% include 'partials/akso_user_profile_form.html.twig' %}
                    <hr />
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-profession">{{akso_locale.account.profession}}</label>
                            <input
                                id="codeholder-profession"
                                name="codeholder[profession]"
                                type="text"
                                value="{{account.codeholder.profession|e('html_attr')}}" />
                        </div>
                    </div>
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-website">{{akso_locale.account.website}}</label>
                            <input
                                id="codeholder-website"
                                name="codeholder[website]"
                                type="url"
                                placeholder="{{akso_locale.account.website_placeholder|e('html_attr')}}"
                                value="{{account.codeholder.website|e('html_attr')}}" />
                        </div>
                    </div>
                    <div class="settings-field" data-el="input" data-type="text">
                        <div class="inner-field">
                            <label for="codeholder-biography">{{akso_locale.account.biography}}</label>
                            <textarea
                                id="codeholder-biography"
                                name="codeholder[biography]">{{account.codeholder.biography|e}}</textarea>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="is-primary">
                            {{ akso_locale.account.submit_edit }}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="account-details">
                {% macro pending_field(pfd, name, render_name, render_raw = false) %}
                    {% set rname = name %}
                    {% if render_name %}
                        {% set rname = render_name %}
                    {% endif %}
                    {% if pfd.account.pending_details[name] %}
                        <div class="account-pending">
                            <span class="pending-mark">{{ pfd.akso_locale.account.pending_change }}</span>
                            {% if render_raw %}
                            <span class="pending-value">{{ pfd.account.pending_details[rname]|raw }}</span>
                            {% else %}
                            <span class="pending-value">{{ pfd.account.pending_details[rname]|e }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endmacro %}
                {% set pfd = { account, akso_locale } %}
                {% if account.details.profilePictureHash %}
                    <div class="account-profile-picture">
                        <img
                            src="{{ account.details.profilePicturePath }}"
                            srcset="{{ account.details.profilePictureSizes }}" />
                    </div>
                {% endif %}
                <h2 class="account-formatted-name">{{ account.details.fmtName|e }}</h2>
                {{ _self.pending_field(pfd, 'fmtName') }}
                {% if account.details.fmtLegalName %}
                    <div class="account-legal-name">
                        {{ akso_locale.account.legal_name }}:
                        <b>{{ account.details.fmtLegalName|e }}</b>
                    </div>
                {% endif %}
                {{ _self.pending_field(pfd, 'fmtLegalName') }}
                {% if account.details.fmtLocalName %}
                    <div class="account-local-name">
                        {{ akso_locale.account.local_name }}:
                        <b>{{ account.details.fmtLocalName|e }}</b>
                    </div>
                {% endif %}
                {{ _self.pending_field(pfd, 'fmtLocalName') }}
                <div class="table-clear" />
                <table class="details-table">
                    <tbody>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.newCode }}</th>
                            <td>
                                {{ account.details.newCode|e }}
                                {# only show oldCode if newCode is not the oldCode (i.e. it has a dash) #}
                                {% if account.details.oldCode and not '-' in account.details.newCode %}
                                    <span class="old-code-field">
                                        {{ akso_locale.account.oldCode }}: {{ account.details.oldCode|e }}
                                    </span>
                                {% endif %}
                                {{ _self.pending_field(pfd, 'newCode') }}
                            </td>
                        </tr>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.email }}</th>
                            <td>
                                {{ account.details.email|e }}
                                {{ _self.pending_field(pfd, 'email') }}
                            </td>
                        </tr>
                        {% if account.details.codeholderType == 'human' %}
                            <tr>
                                <th class="field-label">{{ akso_locale.account.birthdate }}</th>
                                <td>
                                    {{ account.details.fmtBirthdate|e }}
                                    {{ _self.pending_field(pfd, 'fmtBirthdate') }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.phoneNumbers }}</th>
                            <td>
                                {{ account.details.phoneNumbersFormatted }}
                                {{ _self.pending_field(pfd, 'phoneNumbersFormatted') }}
                            </td>
                        </tr>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.address }}</th>
                            <td>
                                {{ account.details.fmtAddress|raw }}
                                {{ _self.pending_field(pfd, 'fmtAddress', nil, true) }}
                            </td>
                        </tr>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.feeCountry }}</th>
                            <td>
                                {{ account.details.fmtFeeCountry|e }}
                                {{ _self.pending_field(pfd, 'fmtFeeCountry') }}
                            </td>
                        </tr>
                        {% if account.details.codeholderType == 'human' %}
                            <tr>
                                <th class="field-label">{{ akso_locale.account.profession }}</th>
                                <td>
                                    {{ account.details.profession ? account.details.profession|e : '—' }}
                                    {{ _self.pending_field(pfd, 'profession') }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th class="field-label">{{ akso_locale.account.website }}</th>
                            <td>
                                {{ account.details.website ? account.details.website|e : '—' }}
                                {{ _self.pending_field(pfd, 'website') }}
                            </td>
                        </tr>
                        <tr>
                            <th class="field-label">{{ akso_locale.account.biography }}</th>
                            <td class="biography-field">{{ account.details.biography ? account.details.biography|e : '—' }}<div
                                class="biography-pending">
                                {{ _self.pending_field(pfd, 'biography') }}
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="account-management">
                <a class="link-button" href="{{ account.edit_link }}">
                    {{ akso_locale.account.begin_edit }}
                </a>
                <a class="link-button" href="{{ account.reset_password.link }}">
                    {{ akso_locale.account.reset_password }}
                </a>
                <a class="link-button" href="{{ account.logins_link }}">
                    {{ akso_locale.account.logins_title }}
                </a>
            </div>
            <div class="account-memberships">
                <h2 class="memberships-title">{{ akso_locale.account.memberships_title }}</h2>
                {% if account.membership.categories is empty %}
                    <div class="memberships-none">
                        {{ akso_locale.account.memberships_none }}
                    </div>
                {% else %}
                    <ul class="memberships-list">
                        {% for category in account.membership.categories %}
                        <li class="membership-category">
                            {{ category.meow }}
                            {% if category.canBeRenewed %}
                                <button class="category-renew-button">
                                    {{ akso_locale.account.membership_category_renew }}
                                </button>
                            {% endif %}
                            <div class="category-name">{{ category.name|e }}</div>
                            <ul class="membership-years">
                                {% for year in category.years %}
                                    <li class="membership-year {{ category.lifetime ? 'is-lifetime' : '' }}">
                                        {% if category.lifetime %}
                                            {{ akso_locale.account.membership_lifetime_prefix }}
                                        {% endif %}
                                        {{ year|e }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    {% if account.membership.historyHasMore %}
                    <div class="memberships-has-more">
                        {{ akso_locale.account.memberships_has_more_items }}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
