{% extends 'partials/base.html.twig' %}
{% block content %}
    {% if account.editing %}
    {% else %}
        <h1>{{ akso_locale.account.title }}</h1>
        <div class="account-details">
            <h2 class="account-formatted-name">{{ account.details.fmtName|e }}</h2>
            {% if account.details.fmtLegalName %}
                <div class="account-legal-name">
                    {{ akso_locale.account.legal_name }}:
                    <b>{{ account.details.fmtLegalName|e }}</b>
                </div>
            {% endif %}
            <table class="details-table">
                <tbody>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.newCode }}</th>
                        <td>{{ account.details.newCode|e }}</td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.email }}</th>
                        <td>{{ account.details.email|e }}</td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.birthdate }}</th>
                        <td>{{ account.details.fmtBirthdate|e }}</td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.phoneNumbers }}</th>
                        <td>
                            {{ account.details.phoneNumbersFormatted }}
                        </td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.address }}</th>
                        <td>{{ account.details.fmtAddress }}</td>
                    </tr>
                    <tr>
                        <th class="field-label">{{ akso_locale.account.feeCountry }}</th>
                        <td>{{ account.details.fmtFeeCountry|e }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="account-management">
            <button>
                [[request changes?]]
            </button>
            <button>
                {{ akso_locale.account.reset_password }}
            </button>
        </div>
        <div class="account-memberships">
            <h2 class="memberships-title">{{ akso_locale.account.memberships_title }}</h2>
            {% if account.membership.categories is empty %}
                [[no items]]
            {% else %}
                <ul class="memberships-list">
                    {% for category in account.membership.categories %}
                    <li class="membership-category">
                        <div class="category-name">{{ category.name|e }}</div>
                        <ul class="membership-years">
                            {% for year in category.years %}
                                <li class="membership-year {{ category.lifetime ? 'is-lifetime' : '' }}">
                                    {% if category.lifetime %}
                                        {{ akso_locale.account.membership_lifetime_prefix }}
                                    {% endif %}
                                    {{ year|e }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% if account.membership.historyHasMore %}
                <div class="memberships-has-more">
                    {{ akso_locale.account.memberships_has_more_items }}
                </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
