{% extends 'partials/base.html.twig' %}

{% macro registration_payment(akso_locale, payment) %}
    {% if payment.outstanding_payment %}
        <div class="registration-payment">
            <h3>
                {{akso_locale.registration_form.payment_box_title}}
                <div class="outstanding-amount">
                    {{payment.remaining_rendered|e}}
                </div>
            </h3>
            <div class="payment-button-container">
                <a href="{{payment.link|e('html_attr')}}" class="link-button is-primary">
                    {{akso_locale.registration_form.payment_box_create_intent}}
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% block content %}
    {% if akso_congress_error %}
        <div class="error-banner">
            {{ akso_congress_error|e }}
        </div>
    {% endif %}
    {% if akso_congress_registration.is_payment %}
    <div class="registration-form is-payment">
        <div class="registration-congress-name">
            {{ akso_congress.name|e }}
        </div>
        {% if akso_congress_registration.payment_success_redirect %}
            <div class="payment-intent-redirect">
                {{akso_locale.registration_form.payment_intent_redirect}}
                <div>
                    <a
                        id="payment-intent-redirect-button"
                        class="link-button is-primary"
                        href="{{akso_congress_registration.payment_success_redirect}}">
                        {{akso_locale.registration_form.payment_intent_redirect_open}}
                    </a>
                </div>
            </div>
        {% elseif akso_congress_registration.is_payment_method %}
            <h1>{{akso_congress_registration.payment_method.name}}</h1>
            <h2 class="payment-amount">
                {{akso_locale.registration_form.payment_outstanding}}
                {{akso_congress_registration.payment.remaining_rendered|e}}
            </h2>
            {% if akso_congress_registration.payment_error %}
                <div class="registration-error">
                    {{akso_congress_registration.payment_error|e}}
                </div>
            {% endif %}
            <form method="POST" id="akso-congress-registration-form">
                <div class="form-item payment-customer">
                    <div class="customer-name">{{akso_congress_registration.payment_customer_name}}</div>
                    <div class="customer-email">{{akso_congress_registration.payment_customer_email}}</div>
                </div>
                <div class="form-item form-input-item money-input" data-el="input" data-type="money" data-name="amount">
                    <div class="form-label">
                        <label for="amount-to-pay">
                            {{akso_locale.registration_form.payment_amount_to_pay}}
                        </label>
                    </div>
                    <div class="form-data">
                        <input
                            id="amount-to-pay"
                            data-currency="{{ akso_congress_registration.payment_currency }}"
                            data-currency-multiplier="{{ akso_congress_registration.payment_currency_mult }}"
                            step="{{ akso_congress_registration.payment_amount_step }}"
                            min="{{ akso_congress_registration.payment_amount_min }}"
                            max="{{ akso_congress_registration.payment_amount_max }}"
                            value="{{ akso_congress_registration.payment_amount_value }}"
                            name="amount"
                            type="number" />
                        <span class="currency-label">
                            {{ akso_congress_registration.payment_currency }}
                        </span>
                    </div>
                </div>
                <div
                    class="form-item form-script-item"
                    data-el="script"
                    data-script="{{akso_congress_registration.payment_form_script|e('html_attr')}}"></div>
                <div class="form-item form-text-item" data-el="text" data-script='!{"t":"c","f":"id","a":["fees_text"]}'>
                    <b>{{akso_locale.registration_form.payment_fees}}</b>:
                    {% if akso_congress_registration.payment_method.feeFixed is not empty %}
                        {{akso_congress_registration.fee_fixed_rendered|e}}
                    {% endif %}
                    {% if akso_congress_registration.payment_method.feeFixed is not empty and akso_congress_registration.payment_method.feePercent is not empty %}
                        <span>+</span>
                    {% endif %}
                    {% if akso_congress_registration.payment_method.feePercent is not empty %}
                        {{akso_congress_registration.payment_method.feePercent|e}} %
                    {% endif %}
                </div>
                <div class="form-item form-input-item" data-el="input" data-type="text" data-name="notes">
                    <div class="form-label">
                        <label for="customer-notes">
                            {{akso_locale.registration_form.payment_notes}}
                        </label>
                    </div>
                    <div class="form-data">
                        <textarea
                            id="customer-notes"
                            name="notes"
                            placeholder="{{akso_locale.registration_form.payment_notes_placeholder|e('html_attr')}}"></textarea>
                    </div>
                </div>
                <div class="form-footer">
                    <a class="link-button" href="{{ akso_congress_registration.payment_back_target|e('html_attr') }}">
                        {{akso_locale.registration_form.payment_intent_cancel}}
                    </a>
                    <button type="submit" class="submit-button is-primary">
                        {{akso_locale.registration_form.payment_intent_create}}
                    </button>
                </div>
        </div>
            </form>
        {% elseif akso_congress_registration.payment.outstanding_payment %}
            <h1>{{akso_locale.registration_form.payment_title}}</h1>
            <h2 class="payment-amount">
                {{akso_locale.registration_form.payment_outstanding}}
                {{akso_congress_registration.payment.remaining_rendered|e}}
            </h2>
            {% if akso_congress_registration.payment_methods is empty %}
                <p>
                    {{akso_locale.registration_form.payment_methods_none}}
                </p>
            {% else %}
                <ul class="payment-methods">
                {% for method in akso_congress_registration.payment_methods %}
                    {% if method.isRecommended %}
                    <li class="payment-method is-recommended">
                    {% else %}
                    <li class="payment-method">
                    {% endif %}
                        <h3 class="method-name">
                            {{method.name|e}}

                            {% if method.isRecommended %}
                                <span class="method-recommended">{{akso_locale.registration_form.payment_method_recommended}}</span>
                            {% endif %}
                        </h3>
                        <p>{{method.description|e}}</p>
                        <form method="GET" action="{{ akso_congress_registration.method_target|e('html_attr') }}" class="method-form">
                            <div class="currency-select">
                                {% if method.currencies|length > 1 %}
                                    <label>
                                        {{akso_locale.registration_form.payment_currency}}
                                    </label>
                                    <select name="currency">
                                        {% for currency in method.currencies %}
                                            <option value="{{currency}}">{{currency}}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <input class="hidden-input" name="currency" value="{{ method.currencies[0] }}" />
                                {% endif %}
                            </div>
                            <input class="hidden-input" name="dataId" value="{{ akso_congress_registration.data_id }}" />
                            <input class="hidden-input" name="payment" value="true" />
                            <input class="hidden-input" name="method" value="{{ method.id }}" />
                            <button type="submit">
                                {{akso_locale.registration_form.payment_method_pay}}
                            </button>
                        </form>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <a class="link-button" href="{{ akso_congress_registration.edit_target|e('html_attr') }}">
                {{akso_locale.registration_form.payment_back_to_edit}}
            </a>
        {% else %}
            <h1>{{akso_locale.registration_form.payment_title}}</h1>
            <p>
                {{akso_locale.registration_form.payment_all_paid}}
            </p>
            <a class="link-button" href="{{ akso_congress_registration.edit_target|e('html_attr') }}">
                {{akso_locale.registration_form.payment_all_paid_back}}
            </a>
        {% endif %}
    </div>
    {% elseif akso_congress_registration.is_confirmation %}
    <div class="registration-form is-confirmation">
        <div class="registration-congress-name">
            {{ akso_congress.name|e }}
        </div>
        <div class="registration-confirmation">
            <h1>
                {{akso_locale.registration_form.confirmation_title}}
            </h1>
            {{ _self.registration_payment(akso_locale, akso_congress_registration.payment) }}
            <div class="confirmation-link-container">
                <a class="link-button" href="{{ akso_congress_registration.edit_target|e('html_attr') }}">
                    {{akso_locale.registration_form.confirmation_view_registration}}
                </a>
            </div>
            <div class="confirmation-link-container">
                <a class="link-button" href="{{ akso_congress_registration.back_target|e('html_attr') }}">
                    {{akso_locale.registration_form.confirmation_back_to_congress}}
                </a>
            </div>
        </div>
    </div>
    {% elseif akso_congress_registration.is_canceled %}
    <div class="registration-form is-canceled">
        <div class="registration-congress-name">
            {{ akso_congress.name|e }}
        </div>
        <div class="registration-canceled">
            <h1>
                {{akso_locale.registration_form.canceled_title}}
            </h1>
            <div class="canceled-link-container">
                <a class="link-button" href="{{ akso_congress_registration.back_target|e('html_attr') }}">
                    {{akso_locale.registration_form.confirmation_back_to_congress}}
                </a>
            </div>
        </div>
    </div>
    {% elseif akso_congress_registration.is_cancellation %}
    <form class="registration-form is-cancellation-confirmation" method="POST">
        <div class="registration-congress-name">
            {{ akso_congress.name|e }}
        </div>
        {% if akso_congress_registration.cancel_error %}
        <div class="registration-error">
            {{akso_locale.registration_form.err_cancel_generic}}
        </div>
        {% endif %}
        <h2>
            {{akso_locale.registration_form.cancellation_title}}
        </h2>
        <div class="form-footer">
            <a class="link-button" href="{{ akso_congress_registration.back_target|e('html_attr') }}">
                {{akso_locale.registration_form.cancellation_back}}
            </a>
            <button type="submit" formaction="{{ akso_congress_registration.rly_target|e('html_attr') }}">
                {{akso_locale.registration_form.cancellation_cancel}}
            </button>
        </div>
    </form>
    {% elseif akso_congress_registration_enabled %}
    <form
        class="registration-form"
        id="akso-congress-registration-form"
        method="POST"
        action="{{ akso_congress_registration.submit_target|e('html_attr') }}">
        <div class="registration-congress-name">
            {{ akso_congress.name|e }}
        </div>
        {% if akso_congress_registration.data_id %}
            <div class="registration-editing-title">
                {{akso_locale.registration_form.editing_title}}
            </div>
            {{ _self.registration_payment(akso_locale, akso_congress_registration.payment) }}
        {% endif %}
        {% if akso_congress_registration.is_not_found %}
            <div class="registration-error">
                {{akso_locale.registration_form.user_data_not_found}}
            </div>
        {% elseif akso_congress_registration.user_data_error %}
            <div class="registration-error">
                {{akso_locale.registration_form.user_data_generic_error}}
            </div>
        {% else %}
        <div class="noscript-note congress-form-noscript">
            {{akso_locale.registration_form.noscript_note}}
        </div>
        {{ akso_congress_registration.form }}
        <div class="form-footer">
            {% if akso_congress_registration.data_id %}
                {% if akso_congress_registration.cancelable %}
                    <a class="link-button" href="{{ akso_congress_registration.cancel_target|e('html_attr') }}">
                        {{akso_locale.registration_form.cancel}}
                    </a>
                {% endif %}
            {% endif %}
            <div>
                <div class="congress-form-noscript">
                    <button type="submit" formaction="{{ akso_congress_registration.validate_target|e('html_attr') }}">
                        {{akso_locale.registration_form.validate}}
                    </button>
                </div>
            </div>

            {% if akso_congress_registration.data_id %}
                {% if akso_congress_registration.editable %}
                    <button type="submit" class="submit-button">
                        {{akso_locale.registration_form.patch}}
                    </button>
                {% endif %}
            {% else %}
                <button type="submit" class="submit-button">
                    {{akso_locale.registration_form.post}}
                </button>
            {% endif %}
        </div>
        {% endif %}
    </form>
    {% else %}
    <h2>
        {{ akso_congress.name|e }}
    </h2>
    La aliĝilo ankoraŭ ne pretas
    {% endif %}
{% endblock %}
